body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    transition: background-color 0.3s;
}

button {
    padding: 20px 40px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background: white;
}
